apiVersion: v1
kind: Pod
metadata:
  name: metadata-test
spec:
  containers:
  - name: controller
    image: pod-metadata-test
    imagePullPolicy: Never
    env:
    - name: NODE_NAME
      valueFrom:
        fieldRef:
          fieldPath: spec.nodeName
    - name: POD_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.name
    - name: POD_NAMESPACE
      valueFrom:
        fieldRef:
          fieldPath: metadata.namespace